@page "/countermm"
@inherits CounterBase


<h3>Counter--</h3>

<p style="font-family:@fontFamily">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="DecrementCount">Click me to subtract</button>

